<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="'/'">
                <ion-icon slot="icon-only" name="compass-outline"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="'/search'">Products</ion-button>
            <ion-button>Stores</ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="shield-half-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="heart-circle-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
            </ion-button>
            <ion-button>Login</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>