<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="'/'" aria-label="Main page">
                <ion-icon slot="icon-only" name="compass-outline"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="'/search'" aria-label="Products">Products</ion-button>
            <ion-button [routerLink]="'/contribs'" aria-label="Recent">Recent</ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
        @if(this.admin()) {
            <ion-button [routerLink]="'/admin'" aria-label="Admin">
                <ion-icon slot="icon-only" name="shield-half-outline"></ion-icon>
            </ion-button>
        }
        @if(!this.user()) {
            <ion-button [routerLink]="'/login'" aria-label="Add">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
        }
        @if(this.user()) {
            <ion-button [routerLink]="'/search'" [queryParams]="{add: 'true'}" aria-label="Add">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
            <!-- <ion-button [routerLink]="'/favorites'" aria-label="Favorites">
                <ion-icon slot="icon-only" name="heart-circle-outline"></ion-icon>
            </ion-button> -->
            <ion-button [routerLink]="'/profile'" aria-label="Profile">
                <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
            </ion-button>
        }
        @if(!this.user()) {
            <ion-button [routerLink]="'/login'" aria-label="Login">Login</ion-button>
        }
        @if(this.user()) {
            <ion-button [routerLink]="'/login'" (click)="logout()" aria-label="Logout">Logout</ion-button>
        }
        </ion-buttons>
    </ion-toolbar>
</ion-header>