<ion-card style="height: 100%;">
  <ion-card-content>
    <ion-card color="medium">
      <ion-card-content>
        <ion-grid>
          <ion-row>

            <ion-col>
              <ion-thumbnail>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
            </ion-col>

            <ion-col>

            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- <ion-list>
      @for(item of [1,2,3,4,5]; track item) {
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 35%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 20%;"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-label slot="end">
          <p>
            <ion-skeleton-text [animated]="true" style="width: 70px; height: 30px;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 70px; height: 30px;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      }
    </ion-list> -->
  </ion-card-content>
</ion-card>