<ion-modal
  [isOpen]="this.isOpen"
  (willDismiss)="onDismissed()"
>
  <ng-template>

    <ion-header>
      <ion-toolbar>
        @if (canEdit) {
          <ion-title>Edit contribution</ion-title>
        } @else if (editing) {
          <ion-title>Contribution details</ion-title>
        } @else {
          <ion-title>Add contribution</ion-title>
        }
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-grid>
        <form [formGroup]="editForm">
        
          <ion-row>
            <ion-col>
              <ion-list>

                @if(editing) {
                  <ion-item>
                    <ion-input
                      label="Author"
                      [disabled]="true"
                      [value]="contrib?.author?.displayName"
                    ></ion-input>
                  </ion-item>
                }

                <ion-item>
                  <ion-select
                    formControlName="product"
                    ngDefaultControl
                    label="Product"
                  >
                    @for(product of products; track product.id) {
                      <ion-select-option [value]="product.id">
                        {{ product.name }}
                      </ion-select-option>
                    }
                  </ion-select>

                  @if(canEdit) {
                    <ion-note slot="end">Cannot be changed</ion-note>
                  }
                </ion-item>

                <ion-item>
                  <ion-select
                    formControlName="store"
                    ngDefaultControl
                    label="Store"
                  >
                    @for(store of stores; track store.id) {
                      <ion-select-option [value]="store.id">
                        {{ store.name }}
                      </ion-select-option>
                    }
                  </ion-select>

                  @if(canEdit) {
                    <ion-note slot="end">Cannot be changed</ion-note>
                  }
                </ion-item>

                <ion-item>
                  <ion-input
                    formControlName="price"
                    ngDefaultControl
                    label="Your price"
                    type="number"
                    min="0.01"
                    step="0.01"
                    (ionChange)="formatPrice($event.target)"
                  ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input
                    formControlName="comment"
                    ngDefaultControl
                    label="Comment"
                    counter="true"
                    maxlength="100"
                  ></ion-input>
                </ion-item>

                @if(editing) {
                  <ion-item>
                    <ion-label [color]="{
                      'ACTIVE': '',
                      'REVOKED': 'danger',
                      'REMOVED': 'danger',
                    }[contrib?.status ?? 'ACTIVE']">
                      Status: {{ contrib?.status }}
                    </ion-label>

                    @if(canEdit) {
                      <ion-note slot="end">
                        You can only revoke your contribution once.
                      </ion-note>
                    }
                  </ion-item>
                }
              </ion-list>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>

    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          @if(editing)
          {
            <ion-button 
              color="danger" 
              (click)="revoke()" 
              strong="false"
              [disabled]="!canRevoke">
              Revoke
            </ion-button>
          }

          <ion-button (click)="dismiss()" strong="false">
            @if(canEdit || !editing)
            {
              Cancel
            } @else {
              Close
            }
          </ion-button>

          @if(canEdit || !editing) {
            <ion-button 
              (click)="save()" 
              strong="true">
              Save
            </ion-button>
          }
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>

  </ng-template>
</ion-modal>