@if(this.contrib)
{
  <app-contrib-edit-modal
    [contrib]="contrib"
    [isOpen]="editModal"
    (didDismissEvent)="onEditModal($event)"
  ></app-contrib-edit-modal>

  <app-contrib-report-modal
    [contrib]="contrib"
    [isOpen]="reportModal"
    (didDismissEvent)="onReportModal($event)"
  ></app-contrib-report-modal>

  <ion-row>

    @if(showGroupDetails) {
      <ion-col size="auto">
        <ion-thumbnail style="height: 20px;">
          <img 
            alt="Product photo" 
            [src]="contrib.product.photo | resource"
          />
        </ion-thumbnail>
      </ion-col>

      <ion-col>
        <ion-label>
          {{ contrib.product.name }}
          in
          {{ contrib.store.name }}
        </ion-label>
      </ion-col>
    }

    @if(showUserAvatar) {
      <ion-col size="auto">
        <ion-thumbnail style="height: 20px;">
          <img 
            alt="User profile picture" 
            [src]="contrib.author.avatar | resource"
          />
        </ion-thumbnail>
      </ion-col>
    }

    <ion-col size="auto">
      <ion-label>
        {{ contrib.author.displayName }}
      </ion-label>
      <ion-label>
        {{ contrib.comment }}
      </ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{ contrib.date | date }}</ion-label>
    </ion-col>

    <ion-col size="auto">
      <ion-title>{{ contrib.price | currency : "USD" }}</ion-title>
    </ion-col>

    <ion-col size="auto">
      <ion-button (click)="report()" [disabled]="contrib.author.id == thisUserId()">
        Report
      </ion-button>
      <ion-button (click)="edit()" [disabled]="contrib.author.id != thisUserId() && !admin()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
}