<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col style="text-align: center">
        <ion-title>Search results</ion-title>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-card style="height: 100%">
          <ion-card-header>
            <ion-card-title>Filters</ion-card-title>
            <ion-card-subtitle
              >Narrow down your search results</ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content>
            <ion-label color="dark">
              <h2>Region</h2>
            </ion-label>
            <app-region-combo 
              [isSearchResults]="true"
              (didSelectEvent)="this.handleRegionChange($event)"
            ></app-region-combo>

            <!-- TODO: add compareWith attribute to objectvalue selects -->
            <ion-label color="dark">
              <h2>Store</h2>
            </ion-label>
            <ion-select
              label=""
              label-placement="default"
              fill="outline"
              interface="alert"
              class="ion-margin-top ion-margin-bottom"
              [multiple]="true"
              (ionChange)="handleStoreChange($event)"
            >
              <ion-select-option [value]="null"
                >All stores</ion-select-option
              >
              @for(store of stores; track store.id) {
                <ion-select-option [value]="store">
                  {{ store.name }}
                </ion-select-option>
              }
            </ion-select>

            <ion-label color="dark">
              <h2>Product</h2>
            </ion-label>
            <ion-select
              label=""
              label-placement="default"
              fill="outline"
              interface="alert"
              class="ion-margin-top ion-margin-bottom"
              [multiple]="true"
              (ionChange)="handleProductChange($event)"
            >
              <ion-select-option [value]="null"
                >All products</ion-select-option
              >
              @for(product of products; track product.id) {
                <ion-select-option [value]="product">
                  {{ product.name }}
                </ion-select-option>
              }
            </ion-select>

            <ion-label color="dark">
              <h2>Timespan</h2>
            </ion-label>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime 
                  id="timespanBefore"
                  (ionChange)="handleTimespanBeforeChange($event)"
                ></ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="timespanAfter"
                  (ionChange)="handleTimespanAfterChange($event)"
                ></ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-label color="dark" class="ion-margin-top"> Before </ion-label>
            <ion-datetime-button
              datetime="timespanBefore"
              class="ion-margin-bottom"
            ></ion-datetime-button>

            <ion-label color="dark" class="ion-margin-top"> After </ion-label>
            <ion-datetime-button
              datetime="timespanAfter"
              class="ion-margin-bottom"
            ></ion-datetime-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="7">
        <app-contrib-group-view
          [autoLoad]="false"
          [filters]="filters"
        ></app-contrib-group-view>
      </ion-col>

      <ion-col size="3">
        <ion-card style="height: 100%">
          <ion-card-header>
            <ion-card-title>Map</ion-card-title>
            <ion-card-subtitle>Choose your location</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <app-region-map
              (onRegionSelect)="this.handleRegionChange([$event])"
            ></app-region-map>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
