.map
{
    ::ng-deep svg
    {
        overflow: visible;
    }    

    ::ng-deep path
    {
        cursor: pointer;

        transform-origin: center;
        transform-box: fill-box;

        transition: transform 200ms ease-out,
            color 200ms ease-out;
        color: var(--ion-color-medium);
        --outline-color: transparent;

        &:hover
        {
            transform: scale(1.2);
            color: var(--ion-color-secondary);
            --outline-color: var(--ion-color-dark);
        }
    }
}
