<ion-modal
  [isOpen]="this.isOpen"
  (willDismiss)="onDismissed()"
>
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Select region...</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <app-region-picker-node
        (ionChangeEvent)="this.onIonChange($event)"
        [model]="{
          model: this.model,
          subtree: this.model.tree
        }">
      </app-region-picker-node>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()" strong="false">Cancel</ion-button>
          <ion-button (click)="select()" strong="true">Select</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>

  </ng-template>
</ion-modal>